# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Python packaging
dist/
build/
.egg-info/

# Environment
.env

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
